* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(to left, #0000cc 0%, #ff3300 100%);
	font-family: 'Josefin Sans', sans-serif;
}

img {
	background: transparent;
	border-radius: 50%;
	height:130px ;
	width: 130px;
}

h1 {
	color: white;
	text-align: center;
	padding-top: 90px;
}
a {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	color: white;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: transparent;
}

/* selected link */
a:active {
  color: blue;
}

h2 {
	color: white;
	background: transparent;
	text-align: right;
	padding-top: -23px;
	margin: 10px;
}